<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Staff</title>
    <link rel='stylesheet' type='text/css' href='/public/style.css'>
  </head>
  <body>
    <nav>
      <a href='/books'>Stock</a>
      <a href='/books/new'>Add new book</a>
    </nav>
    <%= yield %>
  </body>
</html>
