<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Staff</title>
    <link rel='stylesheet' type='text/css' href='/style.css'>
  </head>
  <body>
    <nav>
      <a href='/books'>Stock</a>
      <a href='/books/new'>Add New</a>
    </nav>
    <br>
<img src='/images/crap_logo.jpg' style='position:absolute; top:0; right:0;' width='150' height='150' alt='' />

<div class="gallery">
  <figure class="gallery-item">
    <img src="/images/War_and_Peace.jpg" style="width:200px;height:280px;">
  </figure>
  <figure class="gallery-item">
    <img src="/images/Hare_Amber_Eyes.gif" style="width:200px;height:280px;">
  </figure>
  <figure class="gallery-item">
    <img src="/images/Androids_Dream.jpg" style="width:200px;height:280px;">
  </figure>
  <figure class="gallery-item">
    <img src="/images/Tempest.jpg" style="width:200px;height:280px;">
  </figure>
</div>
    <%= yield %>
  </body>
</html>
